{{ define "indexPage" }}


{{ template "header" .}}


  <body>
  
  	{{ template "navigation" . }}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    
	<div>
	
		<div class="jumbotron" id="home-jumbotron">
			<div class="container">
				<h1 id="jumbo-title">Developers API Portal</h1>
				<p id="jumbo-subheader">
					Welcome to the Tumezela developers API portal.

				</p>
					<p id="jumbo-cta">
					<a class="btn btn-primary btn-lg" 
					href="https://tyk.io" 
					role="button">More about Tumezela &raquo;</a>
					</p>
			</div>
		</div>
		
		<div class="container" id="welcome-panels-container">
			<div class="row">
				<div class="col-md-4" id="welcome-panel-1">
					<h2>REST API</h2>
					<p>
						Tumezela is a REST based API that has been designed to be easy to implement, secure and offer high reliability.
					</p>
		
					<p><a class="btn btn-tumezela" href="https://tyk.io" role="button">Find out more &raquo;</a>
					</p>
				</div>
				<div class="col-md-4" id="welcome-panel-2">
					<h2>Channel Partners</h2>
					<p>	
						As a channel partner you will be able to earn money for the work you do. Each channel partner has a unique code they can send in the headers returned to our servers. This will allow you to be paid on a per transaction basis. 
					</p>
					
					<p><a class="btn btn-tumezela" href="https://tyk.io" role="button">Find out more &raquo;</a>
					</p>
				</div>
				<div class="col-md-4" id="welcome-panel-3">
					<h2>Great Documentation</h2>
					<p>
						Every single API point is well document with code examples that you can copy and paste into your appplication. There is also the ability to log a support call in the forum for more assistance.
					</p>
					
					<p>
						<a class="btn btn-tumezela" href="https:t//yk.io" role="button">Find out more &raquo;</a>
					</p>
				</div>
			</div>
		</div>

	<hr>
	
	</div>

	  {{ template "footer" .}}
      
    </div> <!-- /container -->


    {{ template "scripts" .}}
  </body>
</html>



{{ end }}