{{ define "signupPage" }}


{{ template "header" .}}


  <body>
  
  	{{ template "navigation" . }}

    <div>
    	
    	<div class="container" style="margin-top: 80px;">
    		<div class="row">
    			
    				{{ if .Error  }}
    				<div class="col-md-7 center">
						<div class="panel panel-danger">
							<div class="panel-body">
								{{.Error}}
							</div>
						</div>
					</div>
    				{{ end }}
    				
    				{{ if .PortalConfig.DisableSignup }}
    					<div class="col-md-7 center">
    						<p><em>Signup has been disabled</em></p>
    					</div>
    				{{ else }}
    				<div class="col-md-7 center">
							<div class="panel panel-default">
							  <div class="panel-heading">
							    <h3 class="panel-title">Register</h3>
							  </div>
							  <div class="panel-body">
								<form action="" method="POST">
									<div class="form-group">
										<label for="username">Email address</label>
										<input type="email" class="form-control" id="username" name="username" placeholder="Enter email">
									</div>
									<div class="form-group">
										<label for="password">Password</label>
										<input type="password" class="form-control" id="password" name="password" placeholder="Password">
									</div>
									<div class="form-group">
										<label for="password_confirm">Confirm Password</label>
										<input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Password confirmation">
									</div>
									
									{{ if .PortalConfig.SignUpFields }}
									<!-- You can set these in the portal admin, then add the relevant form fields in here -->
									<div class="form-group">
										<label for="custom1">Custom field 1</label>
										<input type="text" class="form-control" id="custom1" name="custom1" placeholder="Custom field">
									</div>
									
									<div class="form-group">
										<label for="custom2">Custom field 2</label>
										<input type="text" class="form-control" id="custom2" name="custom2" placeholder="Custom field">
									</div>
									{{ end }}
									
									<input type="submit" class="btn btn-success" value="Sign up"></button>
								</form>
			    				{{ end }}
			    			</div>
			    		</div>
			    	</div>
    			
    		</div>    		
    		
    	</div>
    	
    </div>

	  {{ template "footer" .}}
      
    </div> <!-- /container -->


    {{ template "scripts" .}}
  </body>
</html>



{{ end }}